body {
    padding: 25px;
    background-color: white;
    color: black;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif
    }

    .dark-mode {
    background-color: black;
    color: white;
    }
    .normal {
      background-color: white;
      color: black;    
    }
 html {
    padding-top: 100px;
    padding-bottom: 100px;
    height: 100%;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    background: none;
    background-color: var(--bg-color);
    top: 150px;
}


