body {
    padding: 25px;
    background-color: #2C363F;
    color: white;
    font-size: 25px;
    font-family: sans-serif;
}

.title {
  text-align: center;
}

.pdf-pair {
  display: flex;
  justify-content: space-between;
}

.paper-column {
  display:flex;
  flex-direction: column;
  width: 48%;
}

.about-row-layout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.about-profile-block{
  width: 30%;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.mode-container {
  height: 100px;
  position: relative;
}

hr {
  border: none; /* Remove default border */
  height: 10px; /* Set the desired thickness */
  background-color: #fff; /* Set background color to white */
  width: 50%;
}

hr::after {
  content: ""; /* Add empty content to avoid collapsing */
  display: block;
  width: 100%; /* Stretch across the container */
  margin-top: -5px; /* Position on top of the original line */
  border-radius: 50%; /* Set rounded corners */
  background-color: #fff; /* Set background color again for emphasis */
}